@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

:root {
  --header-color: #60779c;
    --bg-body: #e9f6ff;
    --bg-card:#a3bddc;
    --color-purple: #274369;
    font-family: 'Manrope', sans-serif;

}

* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg-body);
    padding-bottom: 20px;
  }
  h1, h2, h3, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  input {
    outline: none;
    font-family: inherit;
  }
  button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  /*DARK MODE*/

  body.dark-mode {
    background-color: #000039;

    .loader__users {
      background-color: #000039;
    
    }

    .header {
      background-color: #131c5a;
  }

  .formuser__btn-open {
    background-color: #1c296b;
    color: #c5d0fa;
    
  }

  .user__tittle {
    color: #c5d0fa;
  }
    
    .formuser{
      background-color: #1c296b;
      color: #c5d0fa;
      
    }

    .formuser-container{
      background-color: rgba(37, 56, 123, 0.514);
    }

    .formuser__input {
      background-color: #131c5a;
      color: #c5d0fa;
    }

    .formuser__btn {
      background-color: #000039;
      color: #c5d0fa;
  }

  .usercard__container {
    background-color: #1c296b;
    color: #c5d0fa;
  
  }

  .usercard__name {
    color: #8ea0e9;
  }

  .bxs-trash, .bx-edit{
    color: #000039;
}

.bxs-trash:hover, .bx-edit:hover {
  color: #31619b;
  
}

.cardmodal-container {
  
  background-color: rgba(37, 56, 123, 0.514);
}

.cardmodal__group {
  background-color: #1c296b;
  color: #c5d0fa;
}

.cardmodal__tittle, .cardmodal__text {
  color: #c5d0fa;
}


.cardmodal__btn {
  background: #000039;
  color: #c5d0fa;
  
}


}